# OS metadata
.DS_Store
Thumbs.db

# Node
node_modules
npm-debug.log
pnpm-lock.yaml
package-lock.json

# TypeScript
*.tsbuildinfo

# Build directories
*.pyc
/bin/node*
dist
stats.html
native-module/build
lib

# Downloaded spec
spec/fixtures/node-v10.20.1.tar.gz
spec/fixtures/node.lib
spec/fixtures/node_x64.lib
spec/fixtures/node-v10.20.1-headers.tar.gz
spec/fixtures/repo.git
spec/fixtures/r.tmbundle
