# OS metadata
.DS_Store
Thumbs.db

# Node
node_modules
npm-debug.log
package-lock.json

# TypeScript
*.tsbuildinfo

# Build directories
*.pyc
/bin/node
/bin/node.exe
dist
stats.html
native-module/build
lib
dist-spec

# Downloaded spec
spec/fixtures/node-*.tar.gz
spec/fixtures/node.lib
spec/fixtures/node_x64.lib
spec/fixtures/node-*-headers.tar.gz
spec/fixtures/repo.git
spec/fixtures/r.tmbundle
