target=v12.18.3
node-version=12.18.3
use-node-version=12.18.3
public-hoist-pattern[]=*
package-lock=false
lockfile=true
prefer-frozen-lockfile=true
child-concurrency=1 # node-gyp fails on windows
strict-peer-dependencies=false