# updating this changes the target Node version used by this package
# make sure to update the CI versions if you changed this
# also make sure to update the hash files in script/fixtures/SHASUM256.txt
target=v12.18.3

node-version=12.18.3
public-hoist-pattern[]=*
package-lock=false
lockfile=true
prefer-frozen-lockfile=true
child-concurrency=1 # node-gyp fails on windows
strict-peer-dependencies=false
