# If you want some example snippets, check out:
# https://github.com/pulsar-edit/language-javascript/blob/master/snippets/language-javascript.cson

'.source.__package-name__':
  'Method documentation':
    'prefix': 'doc'
    'body': '@@ ${1:method} - ${2:description}'
